<div>
  <form method="post" id="form" action="/execution">
    <% @ret.each do |corp| %>
      <input type="checkbox" name="corpora[]" value= <%= corp[:id] %>> <%= corp[:name] %><br>
    <% end %>
    <input class="submit" type="submit" name="submit" value="Submit Form">
  </form>
</div>
