<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Exato</title>
    <!-- <link rel="stylesheet" href="/css/estilo.css" /> -->
  </head>
  <body>
    <h1>Exato</h1>
    <%= yield %>
  </body>
</html>
