<div>
  <form method="post" id="form" action="/search">
    Termo a ser buscado: <input type="text" name="search"><br>
    <input class="submit" type="submit" name="submit" value="Submit Form">
  </form>
</div>
